@use 'variables' as v; 

html {
    font-size: 16px;
    box-sizing: border-box;
}
  
body {
    font-family: v.$fontPrimary;
    font-size: 1rem;
}

p {
    color: v.$black;
    font-size: 1.25rem;
}
.wrapper {
    inline-size: 95%;
    max-inline-size: 75rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-inline-size: 100%;
    vertical-align: bottom;
}

h1, h2, h3 {
    margin: 0 0 3.125rem  0 ;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 2rem;
}