@use '../base/variables' as v;
@use '../base/mixins' as m;


.steps {
    margin-block-start: 3.125rem;

    &__title {
        color: v.$white;
        text-align: center;
        &-span {
            display: block;
            font-size: 1.125rem;
        }
    }

    &__content {
        background: v.$primary;
    }

    &__step {
        transition: scale .3s, transform .3s;
        
        &:focus, 
        &:hover {
            scale: 1.1;
            transform: rotate(-5deg);
        }
    }

    @include m.tablet { 
        &__grid {
            @include m.grid(3, 3.125rem)
        }
    }

}